body {
    margin: 0;
}

h1 {
    margin: 0;
}

.top-container {
    background-color: #93BFCF;
}
.middle-container {
    height: 200px;
    width: 200px;
    background-color: red;
    position: relative;
    display: inline-block;
    left: 200px;
}

.bottom-container {
    height: 200px;
    width: 200px;
    background-color: blue;
    position: relative;
    right: 200px;
    display: inline-block;
}

.pro{
    text-decoration: underline;
}